@model IEnumerable<BlogSitesiMVC.Models.Kategori>


    <div class="sidebox widget">
        <h3 class="widget-title section-title">Kategoriler</h3>
        <ul class="circled">
            @foreach (BlogSitesiMVC.Models.Kategori kategori in Model)
            {
                <li><a href="/Kategori/Makaleler/@kategori.KategoriID">@kategori.Adi (@kategori.Makale.Count)</a></li>
            }


        </ul>
    </div>