@model IEnumerable<BlogSitesiMVC.Models.Makale>

    <div class="blog-posts col-blog">
        @foreach (var Makale in Model)
        {
            <div class="post row">
                <div class="col-sm-4">
                    <figure>
                        <a href="/Makale/Detay/@Makale.MakaleID">
                            <div class="text-overlay">
                                <div class="info"><span>Daha fazla oku</span></div>
                            </div>
                            <img src="@Makale.Resim." alt="" />
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8 post-content">
                    <div class="meta"><span class="date">13 Nov 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                    <h2 class="post-title"><a href="blog-post.html">Adipiscing Mollis Inceptos</a></h2>
                    <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                </div>
            </div>


        }
    </div>

